<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  {#include partials/roq-material/head.html /}
  {#insert head /}
</head>
<body dir="ltr" data-md-color-scheme="default" data-md-color-primary="black" data-md-color-accent="grey">
  <input class="md-toggle" data-md-toggle="drawer" type="checkbox" id="__drawer" autocomplete="off">
  <input class="md-toggle" data-md-toggle="search" type="checkbox" id="__search" autocomplete="off">
  <label class="md-overlay" for="__drawer"></label>
  <div data-md-component="skip">
    <a href="#content" class="md-skip">Skip to content</a>
  </div>
  <div data-md-component="announce"></div>
  {|<script>var palette=__md_get("__palette");if(palette&&palette.color){if("(prefers-color-scheme)"===palette.color.media){var media=matchMedia("(prefers-color-scheme: light)"),input=document.querySelector(media.matches?"[data-md-color-media='(prefers-color-scheme: light)']":"[data-md-color-media='(prefers-color-scheme: dark)']");palette.color.media=input.getAttribute("data-md-color-media"),palette.color.scheme=input.getAttribute("data-md-color-scheme"),palette.color.primary=input.getAttribute("data-md-color-primary"),palette.color.accent=input.getAttribute("data-md-color-accent")}for(var[key,value]of Object.entries(palette.color))document.body.setAttribute("data-md-color-"+key,value)}</script>|}
  {#insert /}
  <div class="md-dialog" data-md-component="dialog">
    <div class="md-dialog__inner md-typeset"></div>
  </div>


<script src="{site.url.fromRoot('/static/bundle.79ae519e.min.js')}"></script>
  
</body>
</html>